@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(/fonts/ubuntu.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'),
       local('Ubuntu-Bold'),
       url(/fonts/ubuntu-bold.woff) format('woff');
}

body
  font-family 'Ubuntu'
  padding-top 2em

h1, h2, h3, h4, h5, h6
  font-family 'Ubuntu'

